# Download dataset form  this website

## https://www.kaggle.com/faressayah/stanford-open-policing-project?select=police_project.csv

## Description::

On a typical day in the United States, police officers make more than 50,000 traffic stops. Our team is gathering, analyzing, and releasing records from millions of traffic stops by law enforcement agencies across the country. Our goal is to help researchers, journalists, and policymakers investigate and improve interactions between police and the public.

## Importing libraries::

In [1]:
import pandas as pd
import numpy as np

# Use Pandas' read_csv function  open it as a DataFrame

In [2]:
df = pd.read_csv('police_project.csv')

# What does each row represent?

#### hint::
head : Return the first n rows. (By default return first 5 rows.)

In [3]:
df.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  datetime64[ns]
 1   stop_time           91741 non-null  object
 2   driver_gender       86406 non-null  object
 3   driver_age_raw      86414 non-null  float64
 4   driver_age          86120 non-null  float64
 5   driver_race         86408 non-null  object
 6   violation_raw       86408 non-null  object
 7   violation           86408 non-null  object
 8   search_conducted    91741 non-null  bool
 9   search_type         3196 non-null   object
 10  stop_outcome        86408 non-null  object
 11  is_arrested         86408 non-null  object
 12  stop_duration       86408 non-null  object
 13  drugs_related_stop  91741 non-null  bool
 14  year                91741 non-null  int64
dtypes: bool(2), datetime64[ns](1), float64(2), int64(1), object(9)
memory usage: 9.3+ MB

# How to get the basic statistics of all the columns?

In [4]:
df.describe()

       county_name  driver_age_raw    driver_age
count          0.0    86414.000000  86120.000000
mean           NaN     1970.491228     34.011333
std            NaN      110.914909     12.738564
min            NaN        0.000000     15.000000
25%            NaN     1967.000000     23.000000
50%            NaN     1980.000000     31.000000
75%            NaN     1987.000000     43.000000
max            NaN     8801.000000     99.000000

# How to check the shape of dataset?

In [5]:
df.shape

(91741, 15)

# Check the type of columns?

In [6]:
df.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

# Locating missing Values?
#### detecting missing values
#### calculates the sum of each column

In [7]:
df.isnull()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
91737,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
91738,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
91739,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
91740,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False

In [8]:
df.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

# Dropping Column that only contains missing values.

In [9]:
print(df.shape)
df.drop('county_name', axis=1, inplace=True)
print(df.shape)

(91741, 15)
(91741, 14)

In [10]:
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

# Do the men or women speed more often?

In [11]:
df.driver_gender.value_counts()

M    62895
F    23511
Name: driver_gender, dtype: int64

In [12]:
# Print(f"Speeding Violations by Men: {(df[df.violation == 'Speeding'].driver_gender.value_counts()["M"])} \n Speeding Violations by Women: {df[df.violation == 'Speeding'].driver_gender.value_counts()["F"]}")

print("Speeding Violation by Men")
print(df[df.violation == 'Speeding'].driver_gender.value_counts()['M'])
print("Speeding Violation by Women")
print(df[df.violation == 'Speeding'].driver_gender.value_counts()['F'])

# men = 0
# women = 0
# for i in df[df.violation, df.driver_gender]:
#     if df.violation == "Speeding":
#         print("ok")
    
#     and df.driver_gender == "M":
#         men += 1
#     else:
#         women += 1
# print(men)
# print(women)

Speeding Violation by Men
32979
Speeding Violation by Women
15482

# Which year had the least number of stops?

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   driver_gender       86406 non-null  object
 3   driver_age_raw      86414 non-null  float64
 4   driver_age          86120 non-null  float64
 5   driver_race         86408 non-null  object
 6   violation_raw       86408 non-null  object
 7   violation           86408 non-null  object
 8   search_conducted    91741 non-null  bool
 9   search_type         3196 non-null   object
 10  stop_outcome        86408 non-null  object
 11  is_arrested         86408 non-null  object
 12  stop_duration       86408 non-null  object
 13  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(2), object(10)
memory usage: 8.6+ MB

In [16]:
df['stop_date'] = pd.to_datetime(df.stop_date, format="%Y-%M-%d") # change stop_date column time from object to datetime format
df["year"] = df.stop_date.dt.year  #adding year column

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  datetime64[ns]
 1   stop_time           91741 non-null  object
 2   driver_gender       86406 non-null  object
 3   driver_age_raw      86414 non-null  float64
 4   driver_age          86120 non-null  float64
 5   driver_race         86408 non-null  object
 6   violation_raw       86408 non-null  object
 7   violation           86408 non-null  object
 8   search_conducted    91741 non-null  bool
 9   search_type         3196 non-null   object
 10  stop_outcome        86408 non-null  object
 11  is_arrested         86408 non-null  object
 12  stop_duration       86408 non-null  object
 13  drugs_related_stop  91741 non-null  bool
 14  year                91741 non-null  int64
dtypes: bool(2), datetime64[ns](1), float64(2), int64(1), object(9)
memory usage: 9.3+ MB

In [21]:
print(df.year.value_counts())
print(df.year.value_counts().sum())

# year 2012 is with highest number of stops

2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: year, dtype: int64
91741

# Does gender affect who gets searched during a stop?

In [22]:
df.search_conducted.value_counts()
# from 91741 stop cases only 3196 are got searched

False    88545
True      3196
Name: search_conducted, dtype: int64

In [23]:
df.loc[df.search_conducted, 'driver_gender'].value_counts()

# from searched case majority is of men, so it seems mens are more searched then women

M    2725
F     471
Name: driver_gender, dtype: int64

In [25]:
df.groupby(['violation', 'driver_gender']).search_conducted.sum()

violation            driver_gender
Equipment            F                106.0
                     M                598.0
Moving violation     F                116.0
                     M                779.0
Other                F                 39.0
                     M                171.0
Registration/plates  F                 67.0
                     M                267.0
Seat belt            F                  8.0
                     M                 88.0
Speeding             F                135.0
                     M                822.0
Name: search_conducted, dtype: float64


# How does drug activity change by time of day?

In [26]:
df.columns

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_age_raw',
       'driver_age', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type', 'stop_outcome', 'is_arrested',
       'stop_duration', 'drugs_related_stop', 'year'],
      dtype='object')

In [27]:
df.drugs_related_stop.value_counts()

False    90926
True       815
Name: drugs_related_stop, dtype: int64

In [32]:
df["stop_time"]

0         1
1         8
2        23
3        17
4        10
         ..
91736    20
91737    20
91738    20
91739    21
91740    22
Name: stop_time, Length: 91741, dtype: int64

In [33]:
df.loc[df.sort_values(by="stop_time").drugs_related_stop, 'stop_time'].value_counts()

0     103
23     92
1      60
13     50
22     47
2      46
14     44
9      43
10     42
11     41
15     31
19     30
20     27
16     22
18     22
3      20
21     20
12     16
17     16
7      15
8      14
6      10
4       3
5       1
Name: stop_time, dtype: int64

# Do most stops occur at night?

In [34]:
df.stop_time.sort_index().value_counts().sort_index()

0     5221
1     4442
2     2975
3     1172
4      254
5      210
6     3290
7     4572
8     5210
9     6838
10    7350
11    5877
12    3582
13    4842
14    5634
15    4832
16    3844
17    2900
18    2168
19    2587
20    3340
21    1499
22    3473
23    5629
Name: stop_time, dtype: int64

In [ ]:
# most of the stops happen at midnight 11 PM